<div class="container">
<div class="box">
<%= form_with(model: [@article, @comment]) do |form| %>
  <p id="error-massage"></p>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :content, class: "input", id: "edit_comment" %>
  </div>

  <div class="actions">
    <%= form.submit "編集する", class: "button is-info" %>
  </div>
<% end %>
</div>
</div>