<%= form_with(model: [@article, comment]) do |form| %>


  <div class="field">
    <%= form.label :コメント入力 %>
    <%= form.text_area :content, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit "コメントする", class: "button is-info" %>
  </div>
<% end %>