<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Tsukaru</strong> by <a href="#">kodatakasi</a>
    </p>
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    <%= link_to "Sign in with Line", user_line_omniauth_authorize_path %>

</footer>