<div class="main columns">

<%= render 'left_nav' %>

<div class="main-contents column is-three-fifths">
  <div class="box">
    <h1>新規投稿</h1>
    <%= render 'form' %>
  </div>
</div>

<%= render 'right_nav' %>

<%= render 'footer' %>

</div>