<div class="container">
  <div class="main columns">

    <%= render 'left_nav' %>

    <div class="column is-half">
      <h2>ユーザー</h2>
      <div class="box">
        <% @users.each do |user| %>
          <%= user.name %>
          <%= user.email %>
          <%= render 'follow_form', user: user %>
      <% end %>
      </div>
    </div>
  </div>
</div>