<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= image_tag(@user.image, width: 100) if @user.image.attached? %>

<%= link_to 'プロフィール編集', edit_user_path%>

<%= link_to '投稿一覧', articles_path%>
